<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aip">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/agrilogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIP"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".buy.ScanBuyActivity"
            android:exported="false"
            android:label="@string/title_activity_scan_buy"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AIP"
            tools:replace="screenOrientation" />
        <activity
            android:name=".Registration"
            android:exported="false"
            android:theme="@style/Theme.AIP"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".QrCodeScanner"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AIP" />
        <activity
            android:name=".buy.DisplayFarmActivity"
            android:exported="false"
            android:label="DisplayFarmActivity"
            android:theme="@style/Theme.AIP"
        />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>